{% extends 'layout.html'%}

{% load static %}

{% block link %}
<link rel="stylesheet" type="text/css" href="{% static 'borrar.css' %}">
{% endblock %}

{% block content %}
        <main>
            <section>
                <article>
                    <p>¿Seguro que quieres eliminar todo?</p>
                    <form method="post">
                    {% csrf_token %}
                        <input type="submit" name="Confirmar" value="Confirmar">
                    </form>
                    <a href="{% url 'inicio'%}">Cancelar</a>
                </article>
            </section>
        </main>
{% endblock %}